aptos_2019/
downloads/
tensorflow_datasets/
test/
tutorials/
trained_results/
__pycache__/
.bash_history
.cache/
.config/
.docker/
.ipynb_checkpoints/
.ipython/
.jupyter/
.kaggle/
.keras/
.local/
.ssh/
.viminfo
